<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nomapp.nomapp_beta">

    <application
        android:name=".Database.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver    android:name=".Alarms.AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".Start.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddIngredients.AddIngridientsActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvailableRecipes.ListOfAvailableRecipesActivity"
            android:label="Вы можете приготовить:"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="Steps"
            android:screenOrientation="portrait"/>
        <activity android:name=".Steps.TabsActivity"
            android:label="Steps"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoriesOfIngredients.CategoriesActivity"
            android:label="Steps"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecipePreview.RecipePreviewActivity"
            android:label="Preview"
            android:screenOrientation="portrait"/>

        <activity android:name=".AllRecipes.AllRecipesActivity"
            android:label="Каталог"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CategoriesOfRecipes.CategoriesOfRecipesActivity"
            android:label="Выберите категорию"
            android:screenOrientation="portrait">
        </activity>


    </application>


</manifest>
