<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nomapp.nomapp_beta">

    <application
        android:name=".Database.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddIngredients.AddIngridientsActivity"
            android:label="Add Ingridient"></activity>
        <activity
            android:name=".AvailableRecipes.ListOfAvaliableRecipesActivity"
            android:label="Available recipes"></activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="Steps"></activity>
        <activity android:name=".Steps.TabsActivity"
            android:label="Steps"></activity>
        <activity android:name=".Categories.CategoriesActivity"
            android:label="Steps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".FindIngredients.SearchIngredientsActivity" />
        </activity>
        <activity android:name=".RecipePreview.RecipePreviewActivity"
            android:label="Preview"></activity>

        <activity android:name=".FindIngredients.SearchIngredientsActivity"
            android:label="Search">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


    </application>


</manifest>
